html, body {
    width: 100%;
    background-color: gray;
    align-items: center;
}

#wrapper {
    width: 100%;
}

#header {
    background-color: #453d52;
    height: 64px;
    width: 100%;

}

.github_zipplie img {
    width: 24px;
    position:relative;
    left: 900px;
    top: -60px;
}



.github_zarkone img {
    width: 24px;
    position: relative;
    left: 900px;
    top: -55px;
}



#logo {
    color: #14b814;
    font-family: 'VT323', monospace;
    font-size: 30pt;
    padding-left: 25px;
    padding-top: 5px;
}

#menu {
    height: 40px;
    background-color: gray;
    text-align: center;
    width: 100%;
}

#menu a {
    font-size: 25pt;
    font-family: 'VT323', monospace;
    text-decoration: none;
    padding: 15px;
    color: #453d52;
    width: 100%;
}

#menu span {
  font-size: 25pt;
  font-family: 'VT323', monospace;
  text-decoration: none;
  padding: 15px;
  color: #453d52;
  width: 100%;
  border-style: dashed;
}

#menu a:hover, #menu span {
    font-family: 'VT323', monospace;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    color: #14b814;
}

#content {
    padding-top: 100%;
    text-align: center;
    background-color: #453d52;
    width: 100%;
}

/* div.debug {
    border: 1px solid #f0f;
}
/* Uncomment the block above to see the debug. */
